<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
<title th:text="#{title.application}">Salon</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
<link rel="icon" href="../../imgages/flag.ico" th:href="@{/images/flag.ico}" />
</head>

<body>

  <header th:fragment="site-header">
    <a href="index.html" th:href="@{/}"><img src="../../logo.jpg" th:src="@{/images/logo.jpg}"/> </a> 
    <a href="klaser.html" th:href="@{/monety}">Wszystkie samochody</a>
    <a href="tosell.html" th:href="@{/tosell}">Samochody z wyprzedaży</a>
    <a href="moneta.html" th:href="@{/monety/create}">Dodaj samochód</a>
   <!--  Zalogowany: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>  
    <form th:action="@{/wyloguj}" method="POST" style="display: inline">
        <input type=submit class="link" value="Wyloguj"/>
    </form>
    -->    
<!--     <ul id="messages">
      <li th:each="msg : ${MyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
    </ul> -->
  </header>

  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Klaser monet</h2>    
    <img src="../../images/klaser.jpg" alt="Klaser logo" title="Klaser logo" th:src="@{/images/klaser.jpg}"
      th:alt-title="#{title.application}" style="float: right;" /> 
  </div>

  <footer th:fragment="site-footer"> 
  Artur Ciepły <a href="https://github.com/acieply/sternik-weekend"> Source code</a>
  &copy; Salon Japan Cars, 2017 
  </footer>

</body>
</html>